/* inter-thin-latin */
@font-face {
	font-family: Inter;
	font-style: normal;
	font-weight: 100;
	src: local("Inter Thin"), local("Inter-Thin"), url("/fonts/inter-thin-latin.woff2") format("woff2");
	unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2212,U+2215;
	font-display: swap;
}
/* inter-light-latin */
@font-face {
	font-family: Inter;
	font-style: normal;
	font-weight: 300;
	src: local("Inter Light"), local("Inter-Light"), url("/fonts/inter-light-latin.woff2") format("woff2");
	unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2212,U+2215;
	font-display: swap;
}
/* inter-regular-latin */
@font-face {
	font-family: Inter;
	font-style: normal;
	font-weight: 400;
	src: local("Inter Regular"), local("Inter-Regular"), url("/fonts/inter-regular-latin.woff2") format("woff2");
	unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2212,U+2215;
	font-display: swap;
}
/* inter-semibold-latin */
@font-face {
	font-family: Inter;
	font-style: normal;
	font-weight: 600;
	src: local("Inter SemiBold"), local("Inter-SemiBold"), url("/fonts/inter-semibold-latin.woff2") format("woff2");
	unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2212,U+2215;
	font-display: swap;
}
/* inter-bold-latin */
@font-face {
	font-family: Inter;
	font-style: normal;
	font-weight: 700;
	src: local("Inter Bold"), local("Inter-Bold"), url("/fonts/inter-bold-latin.woff2") format("woff2");
	unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2212,U+2215;
	font-display: swap;
}
/* inter-black-latin */
@font-face {
	font-family: Inter;
	font-style: normal;
	font-weight: 900;
	src: local("Inter Black"), local("Inter-Black"), url("/fonts/inter-black-latin.woff2") format("woff2");
	unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2212,U+2215;
	font-display: swap;
}

