/* Import fonts */
@import "inter.css";
@import "poppins.css";

.font-poppins {
	font-family: "Poppins";
}

.font-inter {
	font-family: "Inter";
}

* {
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
	touch-action: manipulation;
}

html {
	width: 100%;
	min-height: 100vh;
}
body,
#app {
	width: inherit;
	min-height: inherit;
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

[data-placeholder]:empty:before {
    content: attr(data-placeholder);
	border-bottom: 2px dashed black;
}

.bg-gradient-light {
	background: linear-gradient(
		115deg,
		transparent 0,
		transparent 20%,
		rgba(176, 148, 88, 0.03) 35%,
		rgba(230, 153, 9, 0.03) 70%,
		transparent 80%,
		transparent 100%
	);
}

.dark .bg-gradient-light {
	background: linear-gradient(
		115deg,
		rgba(0, 0, 0, 0) 0px,
		rgba(0, 0, 0, 0) 20%,
		rgba(101, 84, 48, 0.1) 35%,
		rgba(184, 122, 7, 0.1) 70%,
		rgba(0, 0, 0, 0) 80%,
		rgba(0, 0, 0, 0) 100%
	);
}

.no-scroll {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
.no-scroll::-webkit-scrollbar {
	display: none; /* Chrome, Safari and Opera */
}

.no-bad-scale {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateZ(0) scale(1, 1);
	transform: translateZ(0);
}

.status-text a {
	word-break: break-all;
}
@keyframes hithere {
	30% {
		transform: scale(1.2);
	}
	40%,
	60% {
		transform: rotate(-20deg) scale(1.2);
	}
	50% {
		transform: rotate(20deg) scale(1.2);
	}
	70% {
		transform: rotate(0deg) scale(1.2);
	}
	100% {
		transform: scale(1);
	}
}

.prose :where(img):not(:where([class~=\"not-prose\"] *)) {
	margin-top: 0;
	margin-bottom: 0;
	@apply rounded-md border border-gray-300 shadow-md
}

.prose :where(h1, h2, h3, h4, h5, h6):not(:where([class~=\"not-prose\"] *)) {
	color: inherit;
}

.prose :where(code):not(:where([class~="not-prose"] *))::before, .prose :where(code):not(:where([class~="not-prose"] *))::after {
  content: "";
}